<div class="container my-5">
    <div class="accordion shadow-sm" id="cropAccordion">
        <div *ngFor="let crop of cropData; let i = index" class="accordion-item">
            <h2 class="accordion-header" [attr.id]="'heading' + i">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + i" [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
                    [attr.aria-controls]="'collapse' + i">
                    {{ crop.Name }}
                </button>
            </h2>
            <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{'show': i === 0}"
                [attr.aria-labelledby]="'heading' + i" data-bs-parent="#cropAccordion">
                <div class="accordion-body">
                    <div *ngIf="crop.Description">
                        <p>{{ crop.Description }}</p>
                    </div>
                    <div *ngFor="let detail of crop.AgronomicDetails">
                        <h5 *ngIf="detail.DetailType">{{ detail.DetailType }}</h5>
                        <ul>
                            <li *ngFor="let desc of detail.Description">{{ desc }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>