<div class="container py-4">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h5 class="mb-0">Coffee Farm (No Device)</h5>
      <p class="text-muted">
        Estimate your crop profit by adding price, yield, and expenses.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="row mb-3">
        <div class="col-6">
          <div class="card border-0 shadow">
            <div class="card-body text-center">
              <p class="mb-2">Integrate the AgriCentral device to your plot</p>
              <button class="btn btn-outline-success">Add Device</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card border-0 shadow">
            <div class="card-body text-center">
              <p class="mb-2">
                Add your expenses and revenues to track your profits
              </p>
              <button
                class="btn btn-outline-success"
                routerLink="/user/dashboard/expense"
              >
                Add+
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <div
            class="card border-0 shadow"
            routerLink="/user/dashboard/expenses"
          >
            <div class="card-body text-center">
              <img
                src="../images/expense-icon.svg"
                alt="Expense Icon"
                class="mb-2"
              />
              <p class="mb-0">Expense</p>
              <h5>₹{{ financialData?.totalExpenses }}</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card border-0 shadow">
            <div class="card-body text-center">
              <img
                src="../images/revenue-icon.svg"
                alt="Revenue Icon"
                class="mb-2"
              />
              <p class="mb-0">Revenue</p>
              <h5>₹{{ financialData?.totalRevenue }}</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <div class="card border-0 shadow">
            <div class="card-body text-center">
              <img
                src="../images/profit-icon.svg"
                alt="Profit Icon"
                class="mb-2"
              />
              <p class="mb-0">Your Current Crop</p>
              <h5 class="mb-0">Coffee</h5>
              <p class="text-muted">Your estimated total profit</p>
              <h5>₹0</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row mb-3">
        <div class="col-12">
          <div class="card border-0 shadow">
            <div class="card-body text-center">
              <app-pie-chart
                [chartData]="pieChartData"
                [chartOptions]="pieChartOptions"
                [height]="pieChartHeight"
                [width]="pieChartWidth"
              ></app-pie-chart>
              <div id="legend" class="custom-legend"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div class="card border-0 shadow">
            <div class="card-body text-center">
              <app-pie-chart
                [chartData]="pieChartData"
                [chartOptions]="pieChartOptions"
                [height]="pieChartHeight"
                [width]="pieChartWidth"
              ></app-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
