<!-- Tabs View Started -->
<div class="content_style">
  <div class="tabs mb-5">
    <div
      class="tab"
      [class.active]="currentTab === 'all'"
      (click)="showTab('all')"
    >
      All
    </div>
    <div
      class="tab"
      [class.active]="currentTab === 'temp'"
      (click)="showTab('temp')"
    >
      Temp
    </div>
    <div
      class="tab"
      [class.active]="currentTab === 'moisture'"
      (click)="showTab('moisture')"
    >
      Moisture
    </div>
    <div
      class="tab"
      [class.active]="currentTab === 'humidity'"
      (click)="showTab('humidity')"
    >
      Humidity
    </div>
    <div
      class="tab"
      [class.active]="currentTab === 'npk'"
      (click)="showTab('npk')"
    >
      NPK
    </div>
  </div>
  @if (currentTab === 'all') {
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="card_all  " [ngClass]="{'card_low': sensorLatestData?.moisturePercentage < 25, 'card_avg': sensorLatestData?.moisturePercentage >= 25 && sensorLatestData?.moisturePercentage < 50, 'card_good': sensorLatestData?.moisturePercentage >= 50}">
        <div class="card-header">Soil Moisture</div>
        <div class="card-body">
          <i class="fa fa-tint icon"style="color: #ADD8E6;"></i>
          <!-- <h5 class="card-title">
            Moisture : {{ this.sensorLatestData?.moisture }}
          </h5> -->
          <h5 class="card-title">
            Moisture in % : {{ sensorLatestData?.moisturePercentage }} %
          </h5>
          <!-- <p class="card-text">Temperature: 25&#8451; / 30&#8451;</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card_all" [ngClass]="{'card_low': sensorLatestData?.temperatureCelsius < 18, 'card_avg': sensorLatestData?.temperatureCelsius >= 18 && sensorLatestData?.temperatureCelsius < 24, 'card_good': sensorLatestData?.temperatureCelsius >= 24}">
        <div class="card-header">Temperature</div>
        <div class="card-body">
          <i class="fa fa-thermometer-half icon" style="color:#FF4500"></i>
          <h5 class="card-title">
            {{ sensorLatestData?.temperatureFahrenheit
            }}<span> &deg;F</span>
          </h5>
          <h5 class="card-title">
            {{ sensorLatestData?.temperatureCelsius
            }}<span> &deg;C</span>
          </h5>
          <!-- <p class="card-text">Humidity: 70% / 80%</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card_all" [ngClass]="{'card_low': sensorLatestData?.humidityPercentage < 60, 'card_avg': sensorLatestData?.humidityPercentage >= 60 && sensorLatestData?.humidityPercentage < 70, 'card_good': sensorLatestData?.humidityPercentage >= 70}">
        <div class="card-header">Humidity</div>
        <div class="card-body">
          <i class="fa fa-water icon" style="color:#00FFFF"></i>
          <h5 class="card-title">
            {{ sensorLatestData?.humidityPercentage }} %
          </h5>
          <!-- <p class="card-text">pH Level: 6.5 / 7</p> -->
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="card_all" [ngClass]="{'card_low': sensorLatestData?.nitrogen < 10, 'card_avg': sensorLatestData?.nitrogen >= 10 && sensorLatestData?.nitrogen < 20, 'card_good': sensorLatestData?.nitrogen >= 20}">
        <div class="card-header">Nitrogen</div>
        <div class="card-body">
          <i class="fa fa-leaf icon" style="color: #32CD32"></i>
          <h5 class="card-title">{{ sensorLatestData?.nitrogen }}</h5>
          <!-- <p class="card-text">Optimal Range: 10-30 mg/kg</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card_all" [ngClass]="{'card_low': sensorLatestData?.phosphorus < 5, 'card_avg': sensorLatestData?.phosphorus >= 5 && sensorLatestData?.phosphorus < 10, 'card_good': sensorLatestData?.phosphorus >= 10}">
        <div class="card-header">Phosphorus</div>
        <div class="card-body">
          <i class="fa fa-seedling icon" style="color: #228B22"></i>
          <h5 class="card-title">{{ sensorLatestData?.phosphorus }}</h5>
          <!-- <p class="card-text">Optimal Range: 5-20 mg/kg</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card_all" [ngClass]="{'card_low': sensorLatestData?.potassium < 10, 'card_avg': sensorLatestData?.potassium >= 10 && sensorLatestData?.potassium < 20, 'card_good': sensorLatestData?.potassium >= 20}">
        <div class="card-header">Potassium</div>
        <div class="card-body">
          <i class="fa fa-carrot icon" style="color:#8B4513"></i>
          <h5 class="card-title">{{ sensorLatestData?.potassium }}</h5>
          <!-- <p class="card-text">Optimal Range: 10-40 mg/kg</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="label-legend">
      <div class="label-box" style="background-color: #ffe5e5;"></div> <span>Poor</span>
    </div>
    <div class="label-legend">
      <div class="label-box" style="background-color: #ffecd9;"></div> <span>Average</span>
    </div>
    <div class="label-legend">
      <div class="label-box" style="background-color: #e5ffe5;"></div> <span>Good</span>
    </div>
  </div>

  } @if (currentTab === 'temp') {
  <div class="content">
    <div class="content" id="moisture">
      <div class="detailed-card moisture-section">
        <div class="section-header">
          <h3>Temperature:</h3>
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACGUlEQVR4Xu3WQQ6CMBBF0cM8vJ27B+yZjTujkhAsztI9+H8ga63kZ2eJeXkh3fp+y6SAAAAAAAAAK5C3akIiEZPIQDBvlWBQ7BfK9FwqD2vhxRVuDhzP1yqB0I+pD1om6J6IWyF9RhfJOLZKuBi6KVI15BB3KoFuAHtIakL+FFUoBEjEIHqChoiQyizEVhUxyQkakFb7WFKB5N5C6+DDXERKkEpxQiFWRUuoFL6DEckNDfQL4AJ+kFYKNFTXFJi6gUd4Qxrk0+pH1MEpugVO5kVcoDK6CU1oiQ6gde4IZXYJipjSi8XxHiiA1niKNftKN12iM/RiVR6FSbQL4AJ+kFYKNFTXFJi6gUd4YZGYVT6UVXoNDQp35Hg6kG/TVYQ2mFhM5smg62kURuj2yVRIp/gVAAAAAAAAAAAAAAAAAADg/AhCtnqzAOlXUgAAAABJRU5ErkJggg=="
            alt="Icon"
          />
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
        <div class="value-box">
          <div class="value-text">Celsius (Value):</div>
          <div class="line"></div>
          <div class="text-right">
            <h2 class="value-percentage mb-0">
              {{ sensorLatestData?.temperatureCelsius
              }}<span> &deg;C</span>
            </h2>
          </div>
        </div>
        <div class="sensor-meter mt-4">
          <h4>Sensor Meter Readings:</h4>
          <p>
            Based on the latest sensor data, your crop is receiving exactly what it needs!
          </p>
          <div class="meter">
            <div class="needle" [ngStyle]="{'left.%': getNeedlePosition(sensorLatestData?.temperatureCelsius, [18, 24, 30])}"></div>
          </div>
          <div class="text-center mt-2">
            <span class="text-danger">Poor</span>
            <span class="text-warning ml-3">Average</span>
            <span class="text-success ml-3">Good</span>
          </div>
        </div>
        
      </div>
      <div class="detailed-card">
        <h3>Graph</h3>
        <canvas #chartCanvas id="chartCanvasMoisture"></canvas>
      </div>
    </div>
  </div>
  } @if(currentTab === 'moisture'){

  <div class="content" id="moisture">
    <div class="detailed-card moisture-section">
      <div class="section-header">
        <h3>Moisture:</h3>
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACGUlEQVR4Xu3WQQ6CMBBF0cM8vJ27B+yZjTujkhAsztI9+H8ga63kZ2eJeXkh3fp+y6SAAAAAAAAAK5C3akIiEZPIQDBvlWBQ7BfK9FwqD2vhxRVuDhzP1yqB0I+pD1om6J6IWyF9RhfJOLZKuBi6KVI15BB3KoFuAHtIakL+FFUoBEjEIHqChoiQyizEVhUxyQkakFb7WFKB5N5C6+DDXERKkEpxQiFWRUuoFL6DEckNDfQL4AJ+kFYKNFTXFJi6gUd4Qxrk0+pH1MEpugVO5kVcoDK6CU1oiQ6gde4IZXYJipjSi8XxHiiA1niKNftKN12iM/RiVR6FSbQL4AJ+kFYKNFTXFJi6gUd4YZGYVT6UVXoNDQp35Hg6kG/TVYQ2mFhM5smg62kURuj2yVRIp/gVAAAAAAAAAAAAAAAAAADg/AhCtnqzAOlXUgAAAABJRU5ErkJggg=="
          alt="Icon"
        />
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
      <div class="value-box">
        <div class="value-text">Percentage (Value):</div>
        <div class="line"></div>
        <div class="text-right">
          <h2 class="value-percentage mb-0">
            {{ sensorLatestData?.moisturePercentage }}%
          </h2>
          <span class="value-unit"
            >{{ sensorLatestData?.moisture }}g/m³</span
          >
        </div>
      </div>
      <div class="sensor-meter mt-4">
        <h4>Sensor Meter Readings:</h4>
        <p>
          Based on the latest sensor data, your crop is receiving exactly what it needs!
        </p>
        <div class="meter">
          <div class="needle" [ngStyle]="{'left.%': getNeedlePosition(sensorLatestData?.moisture,[25, 50, 75])}"></div>
        </div>
        <div class="text-center mt-2">
          <span class="text-danger">Poor</span>
          <span class="text-warning ml-3">Average</span>
          <span class="text-success ml-3">Good</span>
        </div>
      </div>
      
    </div>
    <div class="detailed-card">
      <h3>Graph</h3>
      <canvas #chartCanvas id="chartCanvasMoisture"></canvas>
    </div>
  </div>

  } @if (currentTab === 'humidity') {
  <div class="content" id="moisture">
    <div class="detailed-card moisture-section">
      <div class="section-header">
        <h3>Humidity:</h3>
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACGUlEQVR4Xu3WQQ6CMBBF0cM8vJ27B+yZjTujkhAsztI9+H8ga63kZ2eJeXkh3fp+y6SAAAAAAAAAK5C3akIiEZPIQDBvlWBQ7BfK9FwqD2vhxRVuDhzP1yqB0I+pD1om6J6IWyF9RhfJOLZKuBi6KVI15BB3KoFuAHtIakL+FFUoBEjEIHqChoiQyizEVhUxyQkakFb7WFKB5N5C6+DDXERKkEpxQiFWRUuoFL6DEckNDfQL4AJ+kFYKNFTXFJi6gUd4Qxrk0+pH1MEpugVO5kVcoDK6CU1oiQ6gde4IZXYJipjSi8XxHiiA1niKNftKN12iM/RiVR6FSbQL4AJ+kFYKNFTXFJi6gUd4YZGYVT6UVXoNDQp35Hg6kG/TVYQ2mFhM5smg62kURuj2yVRIp/gVAAAAAAAAAAAAAAAAAADg/AhCtnqzAOlXUgAAAABJRU5ErkJggg=="
          alt="Icon"
        />
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
      <div class="value-box">
        <div class="value-text">Percentage (Value):</div>
        <div class="line"></div>
        <div class="text-right">
          <h2 class="value-percentage mb-0">
            {{ sensorLatestData?.humidityPercentage }} %
          </h2>
          <!-- <span class="value-unit">280g/m³</span> -->
        </div>
      </div>
      <div class="sensor-meter mt-4">
        <h4>Sensor Meter Readings:</h4>
        <p>
          Based on the latest sensor data, your crop is receiving exactly what it needs!
        </p>
        <div class="meter">
          <div class="needle" [ngStyle]="{'left.%': getNeedlePosition(sensorLatestData?.humidityPercentage, [60, 70, 80])}"></div>
        </div>
        <div class="text-center mt-2">
          <span class="text-danger">Poor</span>
          <span class="text-warning ml-3">Average</span>
          <span class="text-success ml-3">Good</span>
        </div>
      </div>
      
    </div>
    <div class="detailed-card">
      <h3>Graph</h3>
      <canvas #chartCanvas id="chartCanvasHumidity"></canvas>
    </div>
  </div>
  } 
  
  <div *ngIf="currentTab === 'npk'" class="content">
    <div class="detailed-card">
        <div class="header">NPK Values:</div>
        <div class="d-flex justify-content-around">
        
            <!-- Nitrogen Sensor Meter -->
            <div class="text-center position-relative">
                <p>Nitrogen: {{ sensorLatestData?.nitrogen }}/255</p>
                <div class="progress position-relative" 
                     style="height: 150px; width: 20px; background: linear-gradient(to bottom, #d9534f, #f0ad4e, #5cb85c); border-radius: 10px;">
                    
                    <!-- Needle -->
                    <div [ngStyle]="{'bottom.%': getNeedlePosition(sensorLatestData?.nitrogen, [10, 20, 30])}"
                        style="position: absolute; left: 0; right: 0; margin: auto; width: 100%; height: 2px; background-color: black;">
                    </div>
                    
                </div>
                <p class="mt-2">Nitrogen</p>
            </div>
        
            <!-- Phosphorus Sensor Meter -->
            <div class="text-center position-relative">
                <p>Phosphorus: {{ sensorLatestData?.phosphorus }}/255</p>
                <div class="progress position-relative" 
                     style="height: 150px; width: 20px; background: linear-gradient(to bottom, #d9534f, #f0ad4e, #5cb85c); border-radius: 10px;">
                    
                    <!-- Needle -->
                    <div [ngStyle]="{'bottom.%': getNeedlePosition(sensorLatestData?.phosphorus, [5, 10, 15])}"
                        style="position: absolute; left: 0; right: 0; margin: auto; width: 100%; height: 2px; background-color: black;">
                    </div>
                    
                </div>
                <p class="mt-2">Phosphorus</p>
            </div>
        
            <!-- Potassium Sensor Meter -->
            <div class="text-center position-relative">
                <p>Potassium: {{ sensorLatestData?.potassium }}/255</p>
                <div class="progress position-relative" 
                     style="height: 150px; width: 20px; background: linear-gradient(to bottom, #d9534f, #f0ad4e, #5cb85c); border-radius: 10px;">
                    
                    <!-- Needle -->
                    <div [ngStyle]="{'bottom.%': getNeedlePosition(sensorLatestData?.potassium, [10, 20, 30])}"
                        style="position: absolute; left: 0; right: 0; margin: auto; width: 100%; height: 2px; background-color: black;">
                    </div>
                    
                  
                </div>
                <p class="mt-2">Potassium</p>
            </div>
        
        </div>
    </div>
    <div class="detailed-card">
        <h3>Graph</h3>
        <canvas #chartCanvas id="chartCanvasNPK"></canvas>
    </div>
</div>

  
</div>
