body {
  background-color: #f7f8fc;
  font-family: Arial, sans-serif;
}
.navbar {
  background-color: #496a48; /* Navbar green color */
}
.nav-link,
.navbar-brand {
  color: #ffffff !important;
  font-weight: bold;
}
.nav-link.active {
  background-color: #324c32; /* Darker shade for active tab */
  border-radius: 5px;
}
.card-custom {
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;
}
.card-custom .card-body {
  padding: 15px;
}
.expense-title {
  font-weight: bold;
  font-size: 1rem;
  color: #496a48; /* Dark green color */
}
.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.expense-item .details {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5;
}
.expense-item .amount {
  font-weight: bold;
  color: #ff4d4f;
  font-size: 1rem;
  text-align: right;
}
.amount span {
  display: block;
  font-weight: normal;
  font-size: 0.9rem;
  color: #666;
}
.date-header {
  font-weight: bold;
  color: #496a48; /* Dark green color */
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
