<div class="container mt-4">
  <div class="card">
    <!-- <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
      <span>Trees & Rays</span>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> -->
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="profile-content d-flex align-items-center">
          <img src="https://via.placeholder.com/100" alt="Profile Picture" class="rounded-circle mb-3" />
          <div>
            <h5>{{ userService.userInfo?.Name }}</h5>
            <p>+91 {{ userService.userInfo?.PhoneNumber }}</p>
          </div>
        </div>
        <!-- <div class="device-dropdown">
          <div class="form-group">
            <label for="deviceSelect">Select Device:</label>
            <select
              id="deviceSelect"
              class="form-control"
              (change)="handleDevice($event)"
            >
              @for (item of userService.tenets; track $index) {
              <option [value]="item">Device {{ $index + 1 }}</option>
              }
            </select>
          </div>
        </div> -->
      </div>

      <div class="d-flex justify-content-around mb-4">
        <button class="btn icon-button">
          <i class="fas fa-user-cog"></i> Manage
        </button>
        <button class="btn icon-button">
          <i class="fas fa-file-invoice"></i> Subscription
        </button>
        <button class="btn icon-button" (click)="auth.logOut()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </div>
      <div class="box">
        <h6>Your Current Crop</h6>
        <div class="d-flex justify-content-between align-items-center p-2 bg-light rounded">
          <span>{{ userService.userInfo?.CropType }}</span>
          <button class="btn btn-success btn-sm">Add+</button>
        </div>
      </div>
      <div class="box">
        <h6>Feedback</h6>
        <p>
          How is your experience with AgriCentral? We'd love to hear your
          thoughts and suggestions.
        </p>
        <button class="btn btn-success">Give Feedback</button>
      </div>
    </div>
  </div>
</div>