body {
  background-color: #f7f8fc;
  font-family: Arial, sans-serif;
}
.navbar {
  background-color: #496a48;
}
.nav-link,
.navbar-brand {
  color: #ffffff !important;
  font-weight: bold;
}
.nav-link.active {
  background-color: #324c32;
  border-radius: 5px;
}
.card-custom {
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card-custom:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.card-custom .card-body {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.expense-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #496a48;
}
.details {
  font-size: 0.95rem;
  color: #666;
  margin-top: 10px;
  line-height: 1.6;
}
.revenue-info {
  text-align: right;
  color: #496a48;
}
.revenue-amount {
  font-weight: bold;
  font-size: 1.2rem;
  color: #007bff;
}
.revenue-name,
.revenue-date,
.harvest-date,
.harvest-quantity,
.harvest-price {
  font-size: 0.95rem;
  color: #666;
  margin-top: 5px;
}
.btn-edit {
  background-color: #496a48;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-edit:hover {
  background-color: #324c32;
}
