
.nav-tabs .nav-link {
  color: #4a6b47;
}

.nav-tabs .nav-link.active {
  background-color: #4a6b47;
  color: white;
}

.content {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  color: #4a6b47;
}
.uploadpic-screen {
  margin-top: 50px;
}
.upload-options {
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
}
.upload-options button,
.upload-options span {
  cursor: pointer;
}
.content-wrapper {
  display: flex;
  justify-content: center;
}

.instructions {
  margin: 20px 0;
  text-align: center;
}

.instructions ul {
  list-style-type: none;
  padding: 0;
  color: #4a6b47;
}

.instructions ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.instructions ul li i {
  margin-right: 10px;
  color: #4a6b47;
}

.result-image {
  text-align: center;
}

.result-image img {
  width: 90%;
  max-width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.disease-info {
  margin-top: 20px;
}

.disease-info h5 {
  color: #4a6b47;
}

.diseases-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.disease-card {
  width: calc(33.333% - 20px);
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.disease-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  width: 280px;
  height: 200px;
  object-fit: cover;
}

.disease-card p {
  margin-top: 5px;
  color: #4a6b47;
}
#uploadImage {
  position: absolute;
  opacity: 0;
}
.uploadImgText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  font-size: 30px;
}
@media (max-width: 768px) {
  .disease-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .disease-card {
    width: 100%;
    margin: 10px 0;
  }
}
