<!-- Screen 1: Upload Picture -->
<div class="container-fluid screen" id="screen1">
  <div class="content">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link active"
          [class.active]="currentTab === 'upload'"
          (click)="setTab('upload')"
          >Upload Pic</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="currentTab === 'result'"
          (click)="setTab('result')"
          >Result</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="currentTab === 'diseases'"
          (click)="setTab('diseases')"
          >Major Diseases</a
        >
      </li>
    </ul>
    @if (currentTab=='upload') {
    <div class="uploadpic-screen">
      <!-- <div class="upload-options">
        <button class="btn btn-outline-success btn-lg">
          <i class="fas fa-upload"></i> Upload Picture
        </button>
      </div> -->
      <div class="upload-options">
        <button
          class="btn btn-outline-success btn-lg"
          onclick="triggerFileUpload()"
        >
          <i class="fas fa-upload"></i> Upload Picture
          <input
            type="file"
            class="form-control"
            id="uploadImage"
            (change)="loadFile($event)"
          />
        </button>
      </div>
      <div class="content-wrapper">
        <div class="instructions">
          <h5>Get a Great Pic for Plant Analysis!</h5>
          <ul>
            <li>
              <i class="fas fa-camera"></i> For analysis, take a clear picture
              of your plant/crop
            </li>
            <li>
              <i class="fas fa-sun"></i> Make sure there's good lighting and the
              photo is in focus
            </li>
            <li>
              <i class="fas fa-upload"></i> Upload the picture using the
              app/website for analysis
            </li>
          </ul>
        </div>
      </div>
    </div>
    } @if (currentTab=='result') { @if (matchingDisease?.length > 0) {
    <div class="result-screen">
      <div class="result-image">
        <img [src]="uploadedImageSrc" alt="Coffee Leaf Rust" />
      </div>

      @for (disease of matchingDisease; track $index) {
      <div class="disease-info">
        <h5>{{ disease?.name }}</h5>
        <p>
          {{ disease?.details }}
        </p>
        <p><strong>Symptoms:</strong></p>
        <ul>
          @for (item of disease.symptoms; track $index) {
          <li>{{ item }}</li>
          }
        </ul>
        <p><strong>Remedies:</strong></p>
        <ul>
          @for (item of disease.remedies; track $index) {
          <li>{{ item }}</li>
          }
        </ul>
        <p><strong>Preventive Measures:</strong></p>
        <ul>
          @for (item of disease.preventiveMeasures; track $index) {
          <li>{{ item }}</li>
          }
        </ul>
        <p><strong>What Caused It</strong></p>
        <p>{{ disease.cause }}</p>
      </div>
      }
    </div>
    }@else {
    <p class="uploadImgText">
      Image is not uploaded , Please upload image get the results!
    </p>
    } } @if (currentTab=='diseases') {
    <div class="container-fluid screen" id="screen3">
      <div class="content">
        <div class="diseases-grid">
          @for (disease of diseasesData; track $index) {
          <div
            class="disease-card"
            data-toggle="modal"
            data-target="#diseaseModal"
            (click)="diseaseModel(disease)"
          >
            <img
              src="https://internalportaldevapi.smbxl.com/{{ disease?.image }}"
              alt="Coffee
            Leaf Spot"
            />
            <p>{{ disease.name }}</p>
          </div>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>

@if (individualDisease) {
<!-- Modal -->
<div
  class="modal fade"
  id="diseaseModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="diseaseModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="diseaseModalLabel">
          {{ individualDisease?.name }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="result-image">
          <img
            src="https://internalportaldevapi.smbxl.com/{{
              individualDisease?.image
            }}"
            alt="Coffee Leaf Rust"
          />
        </div>
        <div class="disease-info">
          <p>
            {{ individualDisease?.details }}
          </p>
          <p><strong>Symptoms:</strong></p>

          <ul>
            @for (item of individualDisease?.symptoms; track $index) {
            <li>{{ item }}</li>
            }
          </ul>
          <p><strong>Remedies:</strong></p>
          <ul>
            @for (item of individualDisease?.remedies; track $index) {
            <li>{{ item }}</li>
            }
          </ul>
          <p><strong>Preventive Measures:</strong></p>
          <ul>
            @for (item of individualDisease?.preventiveMeasures; track $index) {
            <li>{{ item }}</li>
            }
          </ul>

          <p><strong>What Caused It</strong></p>
          <p>{{ individualDisease.cause }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
}
