<div class="container-fluid bg-light p-4">
   
    <!-- 1st Row -->
    <div class="row mb-4">
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title d-flex align-items-center">
                        <i class="fas fa-seedling me-2"></i> Coffee Cycle
                    </h5>
                    <p class="card-text">{{ currentPhaseTitle }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title d-flex align-items-center">
                        <i class="fas fa-cloud-sun me-2"></i> Weather Card
                    </h5>
                    <p class="card-text">Temp 28°C</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 2nd Row -->
    <div class="row mb-4">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title">Device 1</h5>
                        <span class="badge bg-success">Active</span>
                    </div>
                    <div class="row text-center">
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-thermometer-half fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">24°C</span>
                                    <span>Temperature</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-tint fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">65%</span>
                                    <span>Humidity</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-water fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">45%</span>
                                    <span>Soil Moisture</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-flask fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">20 ppm</span>
                                    <span>Nitrogen</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-atom fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">10 ppm</span>
                                    <span>Phosphorus</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-cube fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">30 ppm</span>
                                    <span>Potassium</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title">Device 2</h5>
                        <span class="badge bg-success">Active</span>
                    </div>
                    <div class="row text-center">
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-thermometer-half fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">22°C</span>
                                    <span>Temperature</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-tint fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">70%</span>
                                    <span>Humidity</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-water fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">50%</span>
                                    <span>Soil Moisture</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-flask fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">18 ppm</span>
                                    <span>Nitrogen</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-atom fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">12 ppm</span>
                                    <span>Phosphorus</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-cube fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">25 ppm</span>
                                    <span>Potassium</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title">Device 3</h5>
                        <span class="badge bg-success">Active</span>
                    </div>
                    <div class="row text-center">
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-thermometer-half fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">26°C</span>
                                    <span>Temperature</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-tint fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">60%</span>
                                    <span>Humidity</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-water fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">40%</span>
                                    <span>Soil Moisture</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-flask fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">22 ppm</span>
                                    <span>Nitrogen</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-atom fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">8 ppm</span>
                                    <span>Phosphorus</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 metric">
                            <div>
                                <i class="fas fa-cube fa-2x"></i>
                                <div>
                                    <span class="metric-value d-block">35 ppm</span>
                                    <span>Potassium</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd Row -->
    <div class="row" *ngIf="!isLoading; else loading">
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <app-pie-chart
                        [chartData]="expensePieChartData"
                        [chartOptions]="expensePieChartOptions"
                        [height]="150"
                        [width]="400"
                    ></app-pie-chart>
                    <div id="legend" class="custom-legend"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <app-pie-chart
                        [chartData]="revenuePieChartData"
                        [chartOptions]="revenuePieChartOptions"
                        [height]="150"
                        [width]="400"
                    ></app-pie-chart>
                    <div id="legend" class="custom-legend"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #loading>
    <div class="loading-container">
      <div class="loading-dots">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </ng-template>