.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  border-right: 1px solid #dee2e6;
  background-color: #e9ecef;
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.nav-link {
  font-weight: 500;
  color: #333;
}
.nav-link:hover,
.nav-link.active {
  color: #007bff;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #d4a373, #0F5C05);
  color: #0F5C05;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b4d2e;
  padding: 10px 20px;
  color: white;
}

.header .logo {
  font-size: 24px;
}

.carousel {
  background-color: #6a5b40;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #eae7dc;
  border-bottom: 3px solid #0F5C05;
}

.content_style {
  background: linear-gradient(to right, #d4a373, #0F5C05);
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  height: 100vh;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #eae7dc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.tabs div {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border-radius: 8px 8px 0 0;
  background-color: #eae7dc;
}

.tabs .active {
  background-color: #0F5C05;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.tabs div:hover {
  background-color: #0F5C05;
  color: white;
}

.content {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

.content.active {
  display: flex;
}

.card,
.detailed-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1 1 45%;
  max-width: 45%;
  transition: transform 0.3s ease;
}

.card:hover,
.detailed-card:hover {
  transform: translateY(-10px);
}

.card .status,
.detailed-card .status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-bar {
  height: 10px;
  border-radius: 5px;
  width: 100px;
}

.poor {
  background-color: #c0392b;
}
.average {
  background-color: #f39c12;
}
.good {
  background-color: #27ae60;
}

.detailed-card .header {
  font-size: 20px;
  margin-bottom: 10px;
}

.detailed-card .percentage {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}

.detailed-card .status-meter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.status-meter .indicator {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  background-color: lightgray;
  position: relative;
}

.indicator .pointer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #27ae60;
  position: absolute;
  left: 80%;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .card,
  .detailed-card {
    max-width: none;
    width: 90%;
  }
  .tabs {
    flex-direction: column;
    align-items: center;
  }
}

.table-responsive {
  margin-top: 20px;
}

#uploadedImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  display: none;
}

@media (max-width: 767.98px) {
  .sidebar {
    display: none;
  }

  .main {
    margin-left: 0;
  }
}

.card_all {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 20px;
}
.card_all:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-header {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 162px;
  height: 100%;
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.card-text {
  font-size: 1rem;
}
.icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.row {
  justify-content: center;
  margin-left: 0 !important;
}

thead,
tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
thead {
  overflow: hidden;
}
td {
  vertical-align: middle;
  padding: 10px;
}

h2 {
  text-align: center;
  margin: 20px 0;
  color: #007bff;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #006935; /* Or any color that matches your theme */
  z-index: 1;
  color: white;
}

.row {
  flex-wrap: nowrap !important;
}
.main {
  margin-left: 220px;
  overflow-x: hidden;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 2px;
}

.main .card {
  margin-bottom: 20px;
}

.main .card-header {
  font-weight: 700;
}

.dropdown-item {
  cursor: pointer !important;
}
.sidenav {
  width: 250px;
  background-color: #e6e6e6;
  // padding-top: 20px;
  flex-shrink: 0;
  border-right: 1px solid #d4d4d4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}
.sidenav.hidden {
  transform: translateX(-250px);
}
.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #0F5C05;
  display: flex;
  align-items: center;
}
.sidenav a:hover {
  background-color: #ccc;
}
.sidenav .active {
  background-color: #0F5C05;
  color: white;
}
.active-nav {
  background-color: #0F5C05;
  color: white;
}
.sidenav .profile-section {
  margin-top: auto;
  padding: 10px 15px;
  text-align: center;
  background-color: #d4d4d4;
}
.sidenav .profile-section img {
  width: 50px;
  border-radius: 50%;
}
.sidenav .profile-section p {
  margin: 10px 0 5px;
  color: #0F5C05;
}
.sidenav .profile-section a {
  color: #0F5C05;
}

.sidenav .icon {
  margin-right: 10px;
  font-size: 1.3rem;
}
.logout-account {
  position: fixed;
  bottom: 20px;
}
.text-center h3 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #0F5C05;
}
hr {
  border-top: 1px solid #d4d4d4;
}
h6 {
  font-size: 16px;
  font-weight: bold;
  color: #0F5C05;
}
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin: 20px;
}
@media (max-width: 768px) {
  .sidenav {
    transform: translateX(-250px);
  }
  .sidenav.show {
    transform: translateX(0);
  }
  .menu-toggle {
    display: block;
  }
  .content.show {
    margin-left: 250px;
  }
  .sidenav .close-btn {
    display: block;
    font-size: 24px;
    cursor: pointer;
    text-align: right;
    padding: 10px;
  }
}
@media (min-width: 769px) {
  .sidenav .close-btn {
    display: none;
  }
}

//User Dropdown Styles
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.account-menu {
  display: flex;
  align-items: center;
}
.account-menu img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  transition: transform 0.3s;
}
.account-menu img:hover {
  transform: scale(1.1);
}
.dropdown-menu {
  min-width: 250px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s;
}
.dropdown-item-text {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #e9ecef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s;
}
.dropdown-item i {
  margin-right: 10px;
  color: #007bff;
}
.dropdown-item:hover {
  background-color: #f1f1f1;
  transform: translateX(5px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// .logo_img {
//   // border-radius: 45px;
//   margin-right: 10px;
// }