/* You can add global styles to this file, and also import other style files */


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Roboto Slab", serif;
  // font-optical-sizing: auto;
  // font-weight: 300;
  // font-style: normal;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input.ng-dirty.ng-invalid.ng-touched {
  border-color: red !important;
  border: 2px solid red !important;
}

input:focus-visible {
  border: 2px solid currentColor;
  outline: none;
}
input.ng-pristine.ng-invalid.ng-touched {
  border-color: red !important;
  border: 2px solid red !important;
}
button:disabled {
  background-color: #ccc !important;
  pointer-events: none;
}

// #google_translate_element select {
//   background-color: #fff;
//   color: #000;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   padding: 5px;
// }
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}

::ng-deep.modal-backdrop {
  background: rgba(6, 184, 255, 0.7) !important;
  -webkit-backdrop-filter: blur(30px) !important;
  backdrop-filter: blur(30px) !important;
  z-index: 0 !important;
}

.spinning {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}

.spinning:before {
  content: "";
  display: block;
  position: absolute;
  left: 44%;
  top: 20%;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: rotate360 0.8s linear infinite;
  animation: rotate360 0.8s linear infinite;
}

@-webkit-keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}

@keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}

// .bg-light{
//   height: 100vh !important;
// }