<div class="container mt-4">
  <div class="calendar-container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <button class="btn btn-primary" (click)="changeView(CalendarView.Month)">Month</button>
          <button class="btn btn-primary" (click)="changeView(CalendarView.Week)">Week</button>
          <button class="btn btn-primary" (click)="changeView(CalendarView.Day)">Day</button>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate: view + 'ViewTitle' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <button class="btn btn-primary" (click)="setViewDate(-1)">Previous</button>
          <button class="btn btn-outline-secondary" (click)="setToday()">Today</button>
          <button class="btn btn-primary" (click)="setViewDate(1)">Next</button>
        </div>
      </div>
    </div>
  
    <mwl-calendar-month-view
      *ngIf="view === CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="false"
      (eventClicked)="handleEvent('Clicked', $event.event, content)">
    </mwl-calendar-month-view>
  
    <mwl-calendar-week-view
      *ngIf="view === CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [hourSegments]="2"
      [hourSegmentHeight]="30"
      (eventClicked)="handleEvent('Clicked', $event.event, content)">
    </mwl-calendar-week-view>
  
    <mwl-calendar-day-view
      *ngIf="view === CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [hourSegments]="2"
      [hourSegmentHeight]="30"
      (eventClicked)="handleEvent('Clicked', $event.event, content)">
    </mwl-calendar-day-view>
  </div>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title">{{ modalData?.event?.title }} - {{ modalData?.event?.start | date: 'MMMM' }}</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <ul>
        <li *ngFor="let detail of modalData?.event?.meta?.details">{{ detail }}</li>
      </ul>
      <p *ngIf="modalData?.event?.start">Start: {{ modalData?.event?.start | date: 'medium' }}</p>
      <p *ngIf="modalData?.event?.end">End: {{ modalData?.event?.end | date: 'medium' }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  
  
</div>
